<% article ||= Article.new %>
<% row_class ||= "odd" %>

<tr id="article-<%= article.id -%>" class="<%= row_class -%>" align="left">

  <td width="12%"><%= l(article.link_time, :format => :short_datetime) %></td>
  <td width="12%"><%= truncate(article.author, :length => 16) %></td>
  <td width="35%"><%= link_to_if (not article.url.nil?), article.subject, article.domain + (article.url || "")%></td>
  <td width="3%"><%= article.replies %></td>
  <td width="12%"><%= truncate(article.last_responded_by || "---", :length => 16) %></td>
  <td width="8%">
    <% if user_signed_in? %>
      <%= select("article", "category_id", options_for_select(@categories.collect { |p| [p.name, p.id] }, article.category_id),
                 {:prompt => '---'}, 
                 {:onchange => "submitUpdateArticleForm('#{article.id}', this.options[this.selectedIndex].value, -1, -1)"}) %>
    <% else %>
      <%= article.category_name || "---" %>
    <% end  %>
    
  </td>
  <td width="12%">
    <% if user_signed_in? %>
      <%= select("article", "user_id", options_for_select(@users.collect { |p| [p.nick, p.id] }, article.user_id),
                 {:prompt =>'---'},
                 {:onchange => "submitUpdateArticleForm('#{article.id}', -1, this.options[this.selectedIndex].value, -1)"}) %>
    <% else %>
      <%= article.user_nickname || "---" %>
    <% end  %>
  </td>
  <td width="6%">
    <% if user_signed_in? %>
      <%= select("article", "status_id", options_for_select(@statuses.collect { |p| [p.name, p.id] }, article.status_id),
                 {:prompt => '---'}, 
                 {:onchange => "submitUpdateArticleForm('#{article.id}', -1, -1, this.options[this.selectedIndex].value)"}) %>
    <% else %>
      <%= article.status_name || "---" %>
    <% end  %>
  </td>
</tr>
