<% if user_signed_in? %>
  <%= render :partial => "/dashboard/article_update_form" %>
<% end %>

<% @page_auto_refresh = (params[:page].to_i <= 1) %>

<h3>Articles without a reply, not closed</h3>

<table id="articles-without-reply-and-not-closed">
  <thead>
    <% if !@articles_no_reply.empty? %>
      <tr align="left">
        <th></th>
        <th>date</th>
        <th>Author</th>
        <th>Subject</th>
        <th>#r</th>
        <th>last</th>
        <th>type</th>
        <th>assigned</th>
        <th>status</th>
      </tr>
    <% end %>
  </thead>
  <tbody>
    <% @articles_no_reply.each_with_index do |a, i| %>
      <%= render :partial => "/dashboard/article_line_item", :locals => { :article => a, :row_class => (i%2 == 0 ? "even" : "odd") } %>
    <% end %>

    <% if @articles_no_reply.empty? %>
      <tr class="hint" style="font-style: italic;"><td style="text-align:left">empty!</td></tr>
    <% end %>
  </tbody>
</table>
<br/>

<%= will_paginate @articles_no_reply %>


<h3>Open issues</h3>
<table id="open-articles">
  <thead>
    <tr align="left">
      <th></th>
      <th>date</th>
      <th>Author</th>
      <th>Subject</th>
      <th>#r</th>
      <th>last</th>
      <th>type</th>
      <th>assigned</th>
      <th>status</th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each_with_index { |a, i| %>
      <%= render :partial => "/dashboard/article_line_item", :locals => { :article => a, :row_class => (i%2 == 0 ? "even" : "odd") } %>
    <% } %>
  </tbody>
</table>
<br/>

<%= will_paginate @articles %>
<br/>
<br/>